---
openapi: 3.0.1
info:
  title: API
consumes:
- application/json
produces:
- application/json
servers:
- url: https://stage989800.abaconnectemr.com
- url: https://abaconnectemr.com/
- url: http://localhost:3000

schemes:
- "https"
- "http"
paths:
  "/api/auth":
    post:
      summary: User registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/UserRegistrationParameters"
      responses:
        "200":
          description: "Valid input"
          content:
            application/json:
              example:
                status: 'success'
                data:
                  email: "testuser2@yopmail.com"
                  uid: "testuser2@yopmail.com"
                  first_name: "testuser2"
                  last_name: "lname"
                  role: "ABA Admin"
        "422":
          description: "Invalid input"
          content:
            application/json:
              example:
                status: 'error'
                data:
                  uid: ""
                  first_name: "testuser2"
                  last_name: "lname"
                  email: "testuser2@yopmail.com"
                  role: "ABA Admin"
                errors:
                  ["Email has already been taken"]
    put:
      summary: User update
      parameters:
        - in: "header"
          name: "access-token"
          description: "Request headers"
          required: true
        - in: "header"
          name: "client"
          description: "Request headers"
          required: true
        - in: "header"
          name: "uid"
          description: "Request headers"
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/UserUpdateParameters"
      responses:
        "200":
          description: "Valid input"
          content:
            application/json:
              example:
                status: 'success'
                data:
                  email: "testuser2@yopmail.com"
                  uid: "testuser2@yopmail.com"
                  first_name: "testuser2"
                  last_name: "lname"
                  role: "ABA Admin"
        "404":
          description: "Invalid input"
          content:
            application/json:
              example:
                success: false
                errors: [
                  "User not found."
                ]
                status: "error"

  "/api/auth/sign_in":
    post:
      summary: User signin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/UserSigninParameters"
      responses:
        "200":
          description: "Valid input"
          content:
            application/json:
              example:
                data:
                  email: "executive_director_user1@yopmail.com"
                  uid: "executive_director_user1@yopmail.com"
                  first_name: "Cortez"
                  last_name: "Hermiston"
                  role: "ABA Admin"
                  organization_id: 1
        "401":
          description: "Invalid input"
          content:
            application/json:
              example:
                success: false
                errors: ["Invalid login credentials. Please try again."]

  "/api/auth/sign_out":
    delete:
      summary: User signout
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      responses:
        "200":
          description: "Valid input"
          content:
            application/json:
              example:
                success: true
        "404":
          description: "Invalid input"
          content:
            application/json:
              example:
                success: false
                errors: ["User was not found or was not logged in."]

  "/api/auth/password":
    post:
      summary: Password reset
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/PasswordResetParameters"
      responses:
        "200":
          description: "Valid input"
          content:
            application/json:
              example:
                success: true
                message: "An email has been sent to 'testuser1@yopmail.com' containing instructions for resetting your password."
        "404":
          description: "Invalid input"
          content:
            application/json:
              example:
                success: false
                errors: ["Unable to find user with email 'testuser1@yopmail.com1'."]
    put:
      summary: Password update
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/PasswordUpdateParameters"

      responses:
        "200":
          description: "Valid input"
          content:
            application/json:
              example:
                success: true
                data:
                  email: "executive_director_user1@yopmail.com"
                  uid: "executive_director_user1@yopmail.com"
                  first_name: "Cortez"
                  last_name: "Hermiston"
                  role: "ABA Admin"
                message: "Your password has been successfully updated."
        "401":
          description: "Invalid input"
          content:
            application/json:
              example:
                success: false
                errors: ["Unauthorized"]

  /api/clinics:
    get:
      summary: List of clinics
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "query"
        name: "page"
        schema:
          type: "integer"
        description: "Page number to display"
        required: false
      responses:
        "200":
          description: "Clinics list"
          content:
            application/json:
              example: {
                "status": "success",
                "data": [
                  {
                    "id": 1,
                    "name": "clinic1",
                    "organization_id": 4,
                    "organization_name": "org4",
                    "aka": "test clinic",
                    "web": "www.clinic1.com",
                    "email": "admin@clinic1.com",
                    "status": "active",
                    "phone_number": {
                      "id": 1,
                      "phone_type": "mobile",
                      "number": "9876543212"
                    },
                    "address": {
                      "id": 1,
                      "line1": "C21 Mall",
                      "line2": null,
                      "line3": null,
                      "zipcode": null,
                      "city": "Indore",
                      "state": "Madhya Pradesh",
                      "country": null
                    }
                  }
                ],
                "total_records": 1,
                "limit": 30,
                "page": 1
              }
    post:
      summary: clinic create
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/ClinicsCreateUpdateParameters"
      responses:
        "200":
          description: "Created clinic"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 3,
                  "name": "clinic3",
                  "aka": "Test Clinic ",
                  "web": "www.clinic3.com",
                  "email": "admin@clinic3.com",
                  "status": "inactive",
                  "organization_id": 4,
                  "organization_name": "Organization 4",
                  "phone_number": {
                    "id": 3,
                    "phone_type": "work",
                    "number": "7890123457"
                  },
                  "address": {
                    "id": 3,
                    "line1": "Princess Business Skypark",
                    "line2": null,
                    "line3": null,
                    "zipcode": null,
                    "city": "Indore",
                    "state": null,
                    "country": null
                  }
                },
                "errors": []
              }

  /api/clinics/{id}:
    get:
      summary: clinic detail
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "id"
        description: "clinic id"
        required: true
      responses:
        "200":
          description: "Clinic detail"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 3,
                  "name": "clinic3",
                  "aka": "Test Clinic ",
                  "web": "www.clinic3.com",
                  "email": "admin@clinic3.com",
                  "status": "inactive",
                  "organization_id": 4,
                  "organization_name": "Organization 4",
                  "phone_number": {
                    "id": 3,
                    "phone_type": "work",
                    "number": "7890123457"
                  },
                  "address": {
                    "id": 3,
                    "line1": "Princess Business Skypark",
                    "line2": null,
                    "line3": null,
                    "zipcode": null,
                    "city": "Indore",
                    "state": null,
                    "country": null
                  }
                },
                "errors": []
              }
    put:
      summary: clinic update
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "id"
        description: "Clinic id"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/ClinicsCreateUpdateParameters"
      responses:
        "200":
          description: "Updated clinic"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 4,
                  "name": "clinic eg",
                  "aka": "test-clinic-4",
                  "web": "www.clinic4.com",
                  "email": "admin@clinic4.com",
                  "status": "active",
                  "organization_id": 1,
                  "organization_name": "org1",
                  "phone_number": {
                    "id": 4,
                    "phone_type": "mobile",
                    "number": "9876543210"
                  },
                  "address": {
                    "id": 4,
                    "line1": "abc",
                    "line2": "Opp. Orbit Mall",
                    "line3": "string",
                    "zipcode": "string",
                    "city": "string",
                    "state": "string",
                    "country": "string"
                  }
                },
                "errors": []
              }
    delete:
      summary: clinic delete
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "id"
        description: "clinic id"
        required: true
      responses:
        "200":
          description: "Clinic deleted"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 3,
                  "name": "clinic3",
                  "aka": "Test Clinic ",
                  "web": "www.clinic3.com",
                  "email": "admin@clinic3.com",
                  "status": "inactive",
                  "organization_id": 4,
                  "organization_name": "Organization 4",
                  "phone_number": {
                    "id": 3,
                    "phone_type": "work",
                    "number": "7890123457"
                  },
                  "address": {
                    "id": 3,
                    "line1": "Princess Business Skypark",
                    "line2": null,
                    "line3": null,
                    "zipcode": null,
                    "city": "Indore",
                    "state": null,
                    "country": null
                  }
                }
              }
  
  /api/staff:
    get:
      summary: List of staff
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "query"
        name: "search_by"
        schema:
          type: "string"
        description: "Field to search by"
        required: false
      - in: "query"
        name: "search_value"
        schema:
          type: "string"
        description: "value to be searched"
        required: false
      - in: "query"
        name: "page"
        schema:
          type: "integer"
        description: "Page number to display"
        required: false
      - in: "query"
        name: "default_location_id"
        schema:
          type: "integer"
        description: "clinic_id to filter records"
        required: false
      responses:
        "200":
          description: "Staff list"
          content:
            application/json:
              example: {
                "status": "success",
                "data": [
                  {
                    "id": 3,
                    "first_name": "Harland",
                    "last_name": "O'Connell",
                    "email": "bcba_staff1@yopmail.com",
                    "title": "bcba",
                    "job_type": "full_time",
                    "organization_id": 1,
                    "organization_name": "org1",
                    "clinic_id": 1,
                    "clinic_name": "clinic1",
                    "status": "active",
                    "phone": null,
                    "phone_numbers": [],
                    "deactivated_at": null
                  },
                  {
                    "id": 15,
                    "first_name": "test",
                    "last_name": "staff",
                    "email": "bcba_staff1@yopmail.com",
                    "title": "bcba",
                    "job_type": "full_time",
                    "organization_id": 1,
                    "organization_name": "org1",
                    "clinic_id": 1,
                    "clinic_name": "clinic1",
                    "status": "active",
                    "supervisor_id": 3,
                    "immediate_supervisor": "Harland O'Connell",
                    "phone": "9876543212",
                    "deactivated_at": "Fri, 23 Sep 2024 07:23:03 EST -04:00",
                    "phone_numbers": [
                      {
                        "id": 19,
                        "phone_type": null,
                        "number": "9876543212"
                      },
                      {
                        "id": 20,
                        "phone_type": null,
                        "number": "9876543213"
                      }
                    ]
                  },
                ],
                "total_records": 2,
                "limit": 30,
                "page": 1
              }
    post:
      summary: Staff create by admin
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/StaffCreateByAdminParameters"
      responses:
        "200":
          description: "Staff created"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 18,
                  "first_name": "test",
                  "last_name": "staff",
                  "email": "bcba_teststaff2@yopmail.com",
                  "role": "bcba",
                  "status": "active",
                  "terminated_on": null,
                  "gender": "male",
                  "job_type": "full_time",
                  "supervisor_id": 1,
                  "deactivated_at": "Fri, 23 Sep 2024 07:23:03 EST -04:00",
                  "phone_numbers": [
                    {
                      "id": 13,
                      "phone_type": "work",
                      "number": "9876543212"
                    },
                    {
                      "id": 14,
                      "phone_type": "mobile",
                      "number": "9876543213"
                    }
                  ],
                  "address": {
                    "id": 10,
                    "line1": "Princess Business Skypark",
                    "line2": null,
                    "line3": null,
                    "zipcode": null,
                    "city": "Indore",
                    "state": null,
                    "country": null
                  },
                  "rbt_supervision": {
                    "id": 3,
                    "status": "n_a"
                  },
                  "services": [
                    {
                      "id": 11,
                      "name": "city service",
                      "status": "active",
                      "display_code": null
                    }
                  ]
                }
              }
          
  /api/staff/{staff_id}:
    get:
      summary: Staff detail
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "staff_id"
        description: "Staff id"
        required: true
      responses:
        "200":
          description: "Staff detail"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 15,
                  "first_name": "test",
                  "last_name": "staff",
                  "email": "bcba_test_staff@yopmail.com",
                  "status": "active",
                  "terminated_on": null,
                  "title": "bcba",
                  "job_type": "full_time",
                  "gender": "male",
                  "organization_id": 1,
                  "organization_name": "org1",
                  "clinic_id": 1,
                  "clinic_name": "clinic1",
                  "supervisor_id": 3,
                  "immediate_supervisor": "Harland O'Connell",
                  "deactivated_at": "Fri, 23 Sep 2024 07:23:03 EST -04:00",
                  "phone_numbers": [
                    {
                      "id": 7,
                      "phone_type": null,
                      "number": "9876543212"
                    },
                    {
                      "id": 8,
                      "phone_type": null,
                      "number": "9876543213"
                    }
                  ],
                  "address": {
                    "id": 7,
                    "line1": "Princess Business Skypark",
                    "line2": null,
                    "line3": null,
                    "zipcode": null,
                    "city": "Indore",
                    "state": null,
                    "country": null
                  },
                  "rbt_supervision": {
                    "id": 1,
                    "status": "n_a"
                  },
                  "services": [
                    {
                      "id": 9,
                      "name": "city service",
                      "status": "active",
                      "display_code": null
                    }
                  ]
                }
              }
    put:
      summary: Staff update by admin
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "staff_id"
        description: "Staff id"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/StaffUpdateByAdminParameters"
      responses:
        "200":
          description: "Staff Updated"
          content:
            application/json:
              example: {
                          "status": "success",
                          "data": {
                              "id": 3
                          },
                          "errors": []
                        }

  /api/credentials:
    get:
      summary: List of qualifications
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "query"
        name: "page"
        schema:
          type: "integer"
        description: "Page number to display"
        required: false
      responses:
        "200":
          description: "qualifications list"
          content:
            application/json:
              example: {
                          "status": "success",
                          "data": [
                              {
                                  "id": 1,
                                  "type": "education",
                                  "name": "Bachelor's Degree",
                                  "description": "The holder has completed a four year college program.",
                                  "lifetime": false
                              },
                              {
                                  "id": 2,
                                  "type": "education",
                                  "name": "Master's Degree",
                                  "description": "The holder has completed a four year college program.",
                                  "lifetime": true
                              }
                          ]
                        }
    post:
      summary: qualification create
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/QualificationCreateParameters"
      responses:
        "200":
          description: "qualifications list"
          content:
            application/json:
              example: {
                          "status": "success",
                          "data": {
                              "id": 1,
                              "type": "education",
                              "name": "name",
                              "description": "description",
                              "lifetime": false
                          }
                        }

  /api/credentials/{id}:
    put:
      summary: qualification update
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "id"
        description: "qualification id"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/QualificationUpdateParameters"
      responses:
        "200":
          description: "Updated qualification"
          content:
            application/json:
              example: {
                          "status": "success",
                          "data": {
                              "id": 1,
                              "type": "education",
                              "name": "name",
                              "description": "description",
                              "lifetime": false
                          }
                        }
    get:
      summary: qualification show
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "id"
        description: "qualification id"
        required: true
      responses:
        "200":
          description: "qualification detail"
          content:
            application/json:
              example: {
                          "status": "success",
                          "data": {
                              "id": 1,
                              "type": "education",
                              "name": "name",
                              "description": "some description",
                              "lifetime": false
                          }
                        }
    delete:
      summary: qualification delete
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "id"
        description: "qualification id"
        required: true
      responses:
        "200":
          description: "qualification deleted"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                    "id": 1,
                    "type": "education",
                    "name": "name",
                    "description": "some description",
                    "lifetime": false
                }
              }

  /api/supervisor_list:
    get:
      summary: supervisors list
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      responses:
        "200":
          description: "Supervisors list"
          content:
            application/json:
              example: {
                "status": "success",
                "data": [
                    {
                        "id": 7,
                        "first_name": "Barrett",
                        "last_name": "Hauck"
                    },
                    {
                        "id": 8,
                        "first_name": "Blondell",
                        "last_name": "Greenfelder"
                    }
                  ]
                }

  /api/services:
    get:
      summary: services list
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "query"
        name: "page"
        schema:
          type: "integer"
        description: "Page number to display"
        required: false
      responses:
        "200":
          description: "services list"
          content:
            application/json:
              example: {
                "status": "success",
                "data": [
                    {
                      "id": 2,
                      "name": "additional 30 minutes spent performing activities",
                      "display_code": null,
                      "qualification_ids": [
                        4,
                        8
                      ],
                      "qualification_names": [
                        "Associate's Degree",
                        "Auto Insurance"
                      ]
                    },
                    {
                      "id": 3,
                      "name": "caregiver training",
                      "display_code": null
                    }
                  ]
                }
    post:
      summary: Service create
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/ServiceCreateUpdateParameters"
      responses:
        "200":
          description: "Created service"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                          "id": 9,
                          "name": "test-service-name",
                          "status": "active",
                          "display_code": 0,
                          "qualification_ids": [
                            4,
                            8
                          ],
                          "qualification_names": [
                            "Associate's Degree",
                            "Auto Insurance"
                          ]
                        }
                      }

  /api/services/{id}:
    put:
      summary: Service update
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "id"
        description: "Service id to update"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/ServiceCreateUpdateParameters"
      responses:
        "200":
          description: "Updated service"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 1,
                  "name": "test-service-name-updated",
                  "status": "active",
                  "display_code": null,
                  "qualification_ids": [
                    4,
                    8
                  ],
                  "qualification_names": [
                    "Associate's Degree",
                    "Auto Insurance"
                  ]
                }
              }
    get:
      summary: Service detail
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "id"
        description: "Service id"
        required: true
      responses:
        "200":
          description: "Service detail"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 27,
                  "name": "test-service-name-up-2",
                  "status": "active",
                  "display_code": 21,
                  "qualification_ids": [
                    4,
                    8
                  ],
                  "qualification_names": [
                    "Associate's Degree",
                    "Auto Insurance"
                  ]
                }
              }
    delete:
      summary: Service delete
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "id"
        description: "Service id"
        required: true
      responses:
        "200":
          description: "deleted service"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 27,
                  "name": "test-service-name-up-2",
                  "status": "active",
                  "display_code": 21,
                  "qualification_ids": [
                    4,
                    8
                  ],
                  "qualification_names": [
                    "Associate's Degree",
                    "Auto Insurance"
                  ]
                }
              }

  /api/clinics/{clinic_id}/funding_sources:
    get:
      summary: Funding sources list
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "clinic_id"
        description: "Clinic id"
        required: true
      - in: "query"
        name: "page"
        schema:
          type: "integer"
        description: "Page number to display"
        required: false
      responses:
        "200":
          description: "Funding sources list"
          content:
            application/json:
              example: {
                "status": "success",
                "data": [
                  {
                    "id": 1,
                    "name": "united behavioral health",
                    "payor_type": "commercial",
                    "plan_name": "abc",
                    "network_status": "in_network",
                    "status": "active",
                    "email": "contact@ubh.com"
                  },
                  {
                    "id": 2,
                    "name": "fs1",
                    "payor_type": "commercial",
                    "plan_name": "abc",
                    "network_status": "in_network",
                    "status": "active",
                    "email": "contact@fs1.com",
                    "address": {
                      "id": 1,
                      "line1": "Princess Business Skypark",
                      "line2": null,
                      "line3": null,
                      "zipcode": null,
                      "city": "Indore",
                      "state": null,
                      "country": null
                    }
                  },
                  {
                    "id": 3,
                    "name": "fs2",
                    "payor_type": "commercial",
                    "plan_name": "abc",
                    "network_status": "in_network",
                    "status": "active",
                    "email": "contact@fs2.com",
                    "address": {
                      "id": 2,
                      "line1": "Princess Business Skypark",
                      "line2": null,
                      "line3": null,
                      "zipcode": null,
                      "city": "Indore",
                      "state": null,
                      "country": null
                    },
                    "phone_number": {
                      "id": 1,
                      "phone_type": "home",
                      "number": "9988776655"
                    }
                  }
                ],
                "total_records": 3,
                "limit": 30,
                "page": 1
              }
    post:
      summary: Funding source create
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "clinic_id"
        description: "Clinic id to associate"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/FundingSourceCreateUpdateParameters"
      responses:
        "200":
          description: "Created funding source"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 12,
                  "name": "fs2",
                  "plan_name": "abc",
                  "payor_type": "commercial",
                  "network_status": "in_network",
                  "status": "active",
                  "email": "contact@fs2.com",
                  "notes": "good",
                  "clinic_id": 1,
                  "address": {
                    "id": 2,
                    "line1": "Princess Business Skypark",
                    "line2": null,
                    "line3": null,
                    "zipcode": null,
                    "city": "Indore",
                    "state": null,
                    "country": null
                  },
                  "phone_number": {
                    "id": 1,
                    "phone_type": "home",
                    "number": "9988776655"
                  }
                },
                "errors": []
              }

  /api/clinics/{clinic_id}/funding_sources/{id}:
    get:
      summary: funding source show
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "clinic_id"
        description: "Associated clinic id"
        required: true
      - in: "path"
        name: "id"
        description: "funding_source id"
        required: true
      responses:
        "200":
          description: "Funding Source detail"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 12,
                  "name": "fs2",
                  "plan_name": "abc",
                  "payor_type": "commercial",
                  "network_status": "in_network",
                  "status": "active",
                  "email": "contact@fs2.com",
                  "notes": "good",
                  "clinic_id": 1,
                  "address": {
                    "id": 2,
                    "line1": "Princess Business Skypark",
                    "line2": null,
                    "line3": null,
                    "zipcode": null,
                    "city": "Indore",
                    "state": null,
                    "country": null
                  },
                  "phone_number": {
                    "id": 1,
                    "phone_type": "home",
                    "number": "9988776655"
                  }
                },
                "errors": []
              }
    put:
      summary: Funding source update
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "clinic_id"
        description: "Associated Clinic id"
        required: true
      - in: "path"
        name: "id"
        description: "Funding source id to update"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/FundingSourceCreateUpdateParameters"
      responses:
        "200":
          description: "Updated funding source"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                    "id": 11,
                    "name": "fs1",
                    "plan_name": "abc",
                    "payor_type": "commercial",
                    "network_status": "in_network",
                    "status": "active",
                    "email": "contact@fs1.com",
                    "notes": "good",
                    "clinic_id": 1,
                    "address": {
                      "id": 1,
                      "line1": "Princess Business Skypark",
                      "line2": null,
                      "line3": null,
                      "zipcode": null,
                      "city": "Indore",
                      "state": null,
                      "country": null
                    },
                    "phone_number": {
                      "id": 2,
                      "phone_type": "work",
                      "number": "8989898988"
                    }
                },
                "errors": []
              }
    delete:
      summary: Funding source delete
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "clinic_id"
        description: "Associated Clinic id"
        required: true
      - in: "path"
        name: "id"
        description: "Funding source id to delete"
        required: true
      responses:
        "200":
          description: "Deleted funding source"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                    "id": 11,
                    "name": "fs1",
                    "plan_name": "abc",
                    "payor_type": "commercial",
                    "network_status": "in_network",
                    "status": "active",
                    "email": "contact@fs1.com",
                    "notes": "good",
                    "clinic_id": 1,
                    "address": {
                      "id": 1,
                      "line1": "Princess Business Skypark",
                      "line2": null,
                      "line3": null,
                      "zipcode": null,
                      "city": "Indore",
                      "state": null,
                      "country": null
                    },
                    "phone_number": {
                      "id": 2,
                      "phone_type": "work",
                      "number": "8989898988"
                    }
                }
              }

  /api/staff/{staff_id}/staff_credentials:
    get:
      summary: staff qualification listing
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "staff_id"
        description: "Associated staff id"
        required: true
      responses:
        "200":
          description: "Staff qualifications list"
          content:
            application/json:
              example: {
                "status": "success",
                "data": [
                  {
                    "id": 1,
                    "name": "Ph.D.",
                    "credential_id": 17,
                    "issued_at": null,
                    "expires_at": null,
                    "cert_lic_number": null,
                    "documentation_notes": null
                  }
                ]
              }
    post:
      summary: staff qualification create
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "staff_id"
        description: "Associated staff id"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/StaffQualificationCreateUpdateParameters"
      responses:
        "200":
          description: "Created staff qualification"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 4,
                  "name": "High School Diploma",
                  "issued_at": null,
                  "expires_at": null,
                  "cert_lic_number": null,
                  "documentation_notes": "doc temp"
                }
              }
  /api/staff/{staff_id}/staff_credentials/{id}:
    get:
      summary: staff qualification show
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "staff_id"
        description: "Associated staff id"
        required: true
      - in: "path"
        name: "id"
        description: "staff_qualification id"
        required: true
      responses:
        "200":
          description: "Staff qualification detail"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 1,
                  "name": "Ph.D.",
                  "credential_id": 17,
                  "issued_at": null,
                  "expires_at": null,
                  "cert_lic_number": null,
                  "documentation_notes": null
                }
              }
    put:
      summary: staff qualification update
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "staff_id"
        description: "Associated staff id"
        required: true
      - in: "path"
        name: "id"
        description: "Staff qualification id"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/StaffQualificationCreateUpdateParameters"
      responses:
        "200":
          description: "Updated staff qualification"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 4,
                  "name": "High School Diploma",
                  "issued_at": null,
                  "expires_at": null,
                  "cert_lic_number": null,
                  "documentation_notes": "doc temp"
                }
              }
    delete:
      summary: staff qualification delete
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "staff_id"
        description: "Associated staff id"
        required: true
      - in: "path"
        name: "id"
        description: "staff_qualification id"
        required: true
      responses:
        "200":
          description: "Deleted Staff qualification detail"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 1,
                  "name": "Master's Degree",
                  "issued_at": "2020-12-12",
                  "expires_at": null,
                  "cert_lic_number": "up 89 ",
                  "documentation_notes": "some doc notes"
                }
              }

  /api/organizations:  
    get:
      summary: organization list
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "query"
        name: "page"
        schema:
          type: "integer"
        description: "Page number to display"
        required: false
      responses:
        "200":
          description: "Organizations List"
          content:
            application/json:
              example: {
                "status": "success",
                "data": [
                  {
                    "id": 1,
                    "name": "Organization 2",
                    "aka": "test organization",
                    "web": "www.org2.com",
                    "email": "admin@org2.com",
                    "status": "active"
                  },
                  {
                    "id": 2,
                    "name": "Organization 4",
                    "aka": "test organization",
                    "web": "www.org4.com",
                    "email": "admin@org4.com",
                    "status": "active",
                    "phone_number": {
                      "id": 1,
                      "phone_type": "mobile",
                      "number": "9876543212"
                    },
                    "address": {
                      "id": 1,
                      "line1": "C21 Mall",
                      "line2": null,
                      "line3": null,
                      "zipcode": null,
                      "city": "Indore",
                      "state": "Madhya Pradesh",
                      "country": null
                    }
                  }
                ],
                "total_records": 2,
                "limit": 30,
                "page": 1
              }
    post:
      summary: organization create
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/OrganizationCreateUpdateParameters"
                
      responses:
        "200":
          description: "Organization create"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 4,
                  "name": "org4",
                  "aka": "test organization",
                  "web": "www.org4.com",
                  "email": "admin@org4.com",
                  "status": "active",
                  "phone_number": {
                    "id": 1,
                    "phone_type": "work",
                    "number": "9876543211"
                  },
                  "address": {
                    "id": 1,
                    "line1": null,
                    "line2": null,
                    "line3": null,
                    "zipcode": null,
                    "city": "Indore",
                    "state": "Madhya Pradesh",
                    "country": null
                  }
                }
              }
  /api/organizations/{id}:
    get:
      summary: organization detail
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "id"
        description: "organization id"
        required: true
      responses:
        "200":
          description: "Organization detail"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 4,
                  "name": "Organization 4",
                  "aka": "test organization",
                  "web": "www.org4.com",
                  "email": "admin@org4.com",
                  "status": "active",
                  "phone_number": {
                    "id": 1,
                    "phone_type": "mobile",
                    "number": "9876543212"
                  },
                  "address": {
                    "id": 1,
                    "line1": "C21 Mall",
                    "line2": null,
                    "line3": null,
                    "zipcode": null,
                    "city": "Indore",
                    "state": "Madhya Pradesh",
                    "country": null
                  }
                }
              }
    put:
      summary: Organization update
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "id"
        description: "Organization id"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/OrganizationCreateUpdateParameters"
      responses:
        "200":
          description: "Updated Organization"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 4,
                  "name": "Organization 4",
                  "aka": "test organization",
                  "web": "www.org4.com",
                  "email": "admin@org4.com",
                  "status": "active",
                  "phone_number": {
                    "id": 1,
                    "phone_type": "mobile",
                    "number": "9876543212"
                  },
                  "address": {
                    "id": 1,
                    "line1": "C21 Mall",
                    "line2": null,
                    "line3": null,
                    "zipcode": null,
                    "city": "Indore",
                    "state": "Madhya Pradesh",
                    "country": null
                  }
                },
                "errors": []
              }
    delete:
      summary: Organization delete
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "id"
        description: "Organization id"
        required: true
      responses:
        "200":
          description: "Deleted Organization"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 4,
                  "name": "Organization 4",
                  "aka": "test organization",
                  "web": "www.org4.com",
                  "email": "admin@org4.com",
                  "status": "active",
                  "phone_number": {
                    "id": 1,
                    "phone_type": "mobile",
                    "number": "9876543212"
                  },
                  "address": {
                    "id": 1,
                    "line1": "C21 Mall",
                    "line2": null,
                    "line3": null,
                    "zipcode": null,
                    "city": "Indore",
                    "state": "Madhya Pradesh",
                    "country": null
                  }
                }
              }

  /api/clients:
    get:
      summary: Client list
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "query"
        name: "page"
        schema:
          type: "integer"
        description: "Page number to display"
        required: false
      - in: "query"
        name: "default_location_id"
        schema:
          type: "integer"
        description: "clinic_id to filter records"
        required: false
      responses:
        "200":
          description: "Client list"
          content:
            application/json:
              example: {
                "status": "success",
                "data": [
                  {
                    "id": 1863,
                    "first_name": "Test",
                    "last_name": "Bteaulieu",
                    "clinic_id": 1,
                    "clinic_name": "Bedford, NH",
                    "email": "",
                    "dob": "2016-01-22",
                    "gender": "male",
                    "status": "active",
                    "primary_bcba_id": 4397,
                    "secondary_bcba_id": null,
                    "primary_rbt_id": null,
                    "secondary_rbt_id": null,
                    "primary_bcba_name": "Cassandra Test",
                    "secondary_bcba_name": " ",
                    "primary_rbt_name": " ",
                    "secondary_rbt_name": " ",
                    "tracking_id": "0065e000009Pyw7AAC",
                    "preferred_language": "english",
                    "disqualified": false,
                    "addresses": [
                      {
                        "id": 8684,
                        "type": "service_address",
                        "line1": "80 Palomino Lane",
                        "line2": null,
                        "line3": null,
                        "zipcode": "03110",
                        "city": "Bedford",
                        "state": "NH",
                        "country": "United States of America",
                        "is_default": false,
                        "is_hidden": false
                      },
                      {
                        "id": 6934,
                        "type": "service_address",
                        "line1": null,
                        "line2": null,
                        "line3": null,
                        "zipcode": "03873",
                        "city": "Sandown",
                        "state": null,
                        "country": null,
                        "is_default": true,
                        "is_hidden": false
                      },
                      {
                        "id": 7190,
                        "type": "insurance_address",
                        "line1": "95 Eagle Ridge Road",
                        "line2": null,
                        "line3": null,
                        "zipcode": "03873",
                        "city": "Sandown",
                        "state": "NH",
                        "country": "United States of America"
                      }
                    ],
                    "phone_number": {
                      "id": 1364,
                      "phone_type": "mobile",
                      "number": ""
                    },
                    "payor": "BCBS MA",
                    "contact": {
                      "id": 47,
                      "first_name": "Test",
                      "last_name": "Bteaulieu",
                      "email": "bteaulieujm@protonmail.com",
                      "client_id": 1863,
                      "type": "parent_or_guardian",
                      "relation": "mother",
                      "legal_guardian": false,
                      "guarantor": true,
                      "parent_portal_access": false,
                      "resides_with_client": true,
                      "address": {
                        "id": 7191,
                        "line1": "95 Eagle Ridge Road",
                        "line2": null,
                        "line3": null,
                        "zipcode": "03873",
                        "city": "Sandown",
                        "state": "NH",
                        "country": "United States of America"
                      },
                      "phone_numbers": [
                        {
                          "id": 1365,
                          "phone_type": "mobile",
                          "number": "(339) 234-1190"
                        }
                      ]
                    }
                  }
                ],
                "total_records": 1,
                "limit": 30,
                "page": 1
              }
    post:
      summary: Client create by Admin
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/ClientCreateUpdateParameters"
      responses:
        "200":
          description: "Created client"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 1863,
                  "first_name": "Test",
                  "last_name": "Bteaulieu",
                  "clinic_id": 1,
                  "clinic_name": "Bedford, NH",
                  "email": "",
                  "dob": "2016-01-22",
                  "gender": "male",
                  "status": "active",
                  "primary_bcba_id": 4397,
                  "secondary_bcba_id": null,
                  "primary_rbt_id": null,
                  "secondary_rbt_id": null,
                  "primary_bcba_name": "Cassandra Test",
                  "secondary_bcba_name": " ",
                  "primary_rbt_name": " ",
                  "secondary_rbt_name": " ",
                  "tracking_id": "0065e000009Pyw7AAC",
                  "preferred_language": "english",
                  "disqualified": false,
                  "addresses": [
                    {
                      "id": 8684,
                      "type": "service_address",
                      "line1": "80 Palomino Lane",
                      "line2": null,
                      "line3": null,
                      "zipcode": "03110",
                      "city": "Bedford",
                      "state": "NH",
                      "country": "United States of America",
                      "is_default": false,
                      "is_hidden": false
                    },
                    {
                      "id": 6934,
                      "type": "service_address",
                      "line1": null,
                      "line2": null,
                      "line3": null,
                      "zipcode": "03873",
                      "city": "Sandown",
                      "state": null,
                      "country": null,
                      "is_default": true,
                      "is_hidden": false
                    },
                    {
                      "id": 7190,
                      "type": "insurance_address",
                      "line1": "95 Eagle Ridge Road",
                      "line2": null,
                      "line3": null,
                      "zipcode": "03873",
                      "city": "Sandown",
                      "state": "NH",
                      "country": "United States of America"
                    }
                  ],
                  "phone_number": {
                    "id": 1364,
                    "phone_type": "mobile",
                    "number": ""
                  },
                  "payor": "BCBS MA",
                  "contact": {
                    "id": 47,
                    "first_name": "JTest",
                    "last_name": "Bteaulieu",
                    "email": "bteaulieujm@protonmail.com",
                    "client_id": 1863,
                    "type": "parent_or_guardian",
                    "relation": "mother",
                    "legal_guardian": false,
                    "guarantor": true,
                    "parent_portal_access": false,
                    "resides_with_client": true,
                    "address": {
                      "id": 7191,
                      "line1": "95 Eagle Ridge Road",
                      "line2": null,
                      "line3": null,
                      "zipcode": "03873",
                      "city": "Sandown",
                      "state": "NH",
                      "country": "United States of America"
                    },
                    "phone_numbers": [
                      {
                        "id": 1365,
                        "phone_type": "mobile",
                        "number": "(339) 234-1190"
                      }
                    ]
                  }
                }
              }
  
  /api/clients/{id}:
    get:
      summary: client detail
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "id"
        description: "Client id"
        required: true
      responses:
        "200":
          description: "Client detail"
          content:
            example: {
              "status": "success",
              "data": {
                "id": 1863,
                "first_name": "Test",
                "last_name": "TBeaulieu",
                "clinic_id": 1,
                "clinic_name": "Bedford, NH",
                "email": "",
                "dob": "2016-01-22",
                "gender": "male",
                "status": "active",
                "primary_bcba_id": 4397,
                "secondary_bcba_id": null,
                "primary_rbt_id": null,
                "secondary_rbt_id": null,
                "primary_bcba_name": "Cassandra Test",
                "secondary_bcba_name": " ",
                "primary_rbt_name": " ",
                "secondary_rbt_name": " ",
                "tracking_id": "0065e000009Pyw7AAC",
                "preferred_language": "english",
                "disqualified": false,
                "addresses": [
                  {
                    "id": 8684,
                    "type": "service_address",
                    "line1": "80 Palomino Lane",
                    "line2": null,
                    "line3": null,
                    "zipcode": "03110",
                    "city": "Bedford",
                    "state": "NH",
                    "country": "United States of America",
                    "is_default": false,
                    "is_hidden": false
                  },
                  {
                    "id": 6934,
                    "type": "service_address",
                    "line1": null,
                    "line2": null,
                    "line3": null,
                    "zipcode": "03873",
                    "city": "Sandown",
                    "state": null,
                    "country": null,
                    "is_default": true,
                    "is_hidden": false
                  },
                  {
                    "id": 7190,
                    "type": "insurance_address",
                    "line1": "95 Eagle Ridge Road",
                    "line2": null,
                    "line3": null,
                    "zipcode": "03873",
                    "city": "Sandown",
                    "state": "NH",
                    "country": "United States of America"
                  }
                ],
                "phone_number": {
                  "id": 1364,
                  "phone_type": "mobile",
                  "number": ""
                },
                "payor": "BCBS MA",
                "contact": {
                  "id": 47,
                  "first_name": "Test",
                  "last_name": "TBeaulieu",
                  "email": "tbeaulieujm@protonmail.com",
                  "client_id": 1863,
                  "type": "parent_or_guardian",
                  "relation": "mother",
                  "legal_guardian": false,
                  "guarantor": true,
                  "parent_portal_access": false,
                  "resides_with_client": true,
                  "address": {
                    "id": 7191,
                    "line1": "95 Eagle Ridge Road",
                    "line2": null,
                    "line3": null,
                    "zipcode": "03873",
                    "city": "Sandown",
                    "state": "NH",
                    "country": "United States of America"
                  },
                  "phone_numbers": [
                    {
                      "id": 1365,
                      "phone_type": "mobile",
                      "number": "(339) 234-1190"
                    }
                  ]
                }
              }
            }
    put:
      summary: Client update by Admin
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "id"
        description: "Client id"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/ClientCreateUpdateParameters"
      responses:
        "200":
          description: "Updated client"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 1863,
                  "first_name": "Test",
                  "last_name": "TBeaulieu",
                  "clinic_id": 1,
                  "clinic_name": "Bedford, NH",
                  "email": "",
                  "dob": "2016-01-22",
                  "gender": "male",
                  "status": "active",
                  "primary_bcba_id": 4397,
                  "secondary_bcba_id": null,
                  "primary_rbt_id": null,
                  "secondary_rbt_id": null,
                  "primary_bcba_name": "Cassandra Test",
                  "secondary_bcba_name": " ",
                  "primary_rbt_name": " ",
                  "secondary_rbt_name": " ",
                  "tracking_id": "0065e000009Pyw7AAC",
                  "preferred_language": "english",
                  "disqualified": false,
                  "addresses": [
                    {
                      "id": 8684,
                      "type": "service_address",
                      "line1": "80 Palomino Lane",
                      "line2": null,
                      "line3": null,
                      "zipcode": "03110",
                      "city": "Bedford",
                      "state": "NH",
                      "country": "United States of America",
                      "is_default": false,
                      "is_hidden": false
                    },
                    {
                      "id": 6934,
                      "type": "service_address",
                      "line1": null,
                      "line2": null,
                      "line3": null,
                      "zipcode": "03873",
                      "city": "Sandown",
                      "state": null,
                      "country": null,
                      "is_default": true,
                      "is_hidden": false
                    },
                    {
                      "id": 7190,
                      "type": "insurance_address",
                      "line1": "95 Eagle Ridge Road",
                      "line2": null,
                      "line3": null,
                      "zipcode": "03873",
                      "city": "Sandown",
                      "state": "NH",
                      "country": "United States of America"
                    }
                  ],
                  "phone_number": {
                    "id": 1364,
                    "phone_type": "mobile",
                    "number": ""
                  },
                  "payor": "BCBS MA",
                  "contact": {
                    "id": 47,
                    "first_name": "Test",
                    "last_name": "Beaulieu",
                    "email": "bteaulieujm@protonmail.com",
                    "client_id": 1863,
                    "type": "parent_or_guardian",
                    "relation": "mother",
                    "legal_guardian": false,
                    "guarantor": true,
                    "parent_portal_access": false,
                    "resides_with_client": true,
                    "address": {
                      "id": 7191,
                      "line1": "95 Eagle Ridge Road",
                      "line2": null,
                      "line3": null,
                      "zipcode": "03873",
                      "city": "Sandown",
                      "state": "NH",
                      "country": "United States of America"
                    },
                    "phone_numbers": [
                      {
                        "id": 1365,
                        "phone_type": "mobile",
                        "number": "(339) 234-1190"
                      }
                    ]
                  }
                }
              }
    delete:
      summary: Client delete
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "id"
        description: "Client id"
        required: true
      responses:
        "200":
          description: "Deleted client"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 1863,
                  "first_name": "Test",
                  "last_name": "TBeaulieu",
                  "clinic_id": 1,
                  "clinic_name": "Bedford, NH",
                  "email": "",
                  "dob": "2016-01-22",
                  "gender": "male",
                  "status": "active",
                  "primary_bcba_id": 4397,
                  "secondary_bcba_id": null,
                  "primary_rbt_id": null,
                  "secondary_rbt_id": null,
                  "primary_bcba_name": "Cassandra Test",
                  "secondary_bcba_name": " ",
                  "primary_rbt_name": " ",
                  "secondary_rbt_name": " ",
                  "tracking_id": "0065e000009Pyw7AAC",
                  "preferred_language": "english",
                  "disqualified": false,
                  "addresses": [
                    {
                      "id": 8684,
                      "type": "service_address",
                      "line1": "80 Palomino Lane",
                      "line2": null,
                      "line3": null,
                      "zipcode": "03110",
                      "city": "Bedford",
                      "state": "NH",
                      "country": "United States of America",
                      "is_default": false,
                      "is_hidden": false
                    },
                    {
                      "id": 6934,
                      "type": "service_address",
                      "line1": null,
                      "line2": null,
                      "line3": null,
                      "zipcode": "03873",
                      "city": "Sandown",
                      "state": null,
                      "country": null,
                      "is_default": true,
                      "is_hidden": false
                    },
                    {
                      "id": 7190,
                      "type": "insurance_address",
                      "line1": "95 Eagle Ridge Road",
                      "line2": null,
                      "line3": null,
                      "zipcode": "03873",
                      "city": "Sandown",
                      "state": "NH",
                      "country": "United States of America"
                    }
                  ],
                  "phone_number": {
                    "id": 1364,
                    "phone_type": "mobile",
                    "number": ""
                  },
                  "payor": "BCBS MA",
                  "contact": {
                    "id": 47,
                    "first_name": "TEst",
                    "last_name": "Bteaulieu",
                    "email": "tbeaulieujm@protonmail.com",
                    "client_id": 1863,
                    "type": "parent_or_guardian",
                    "relation": "mother",
                    "legal_guardian": false,
                    "guarantor": true,
                    "parent_portal_access": false,
                    "resides_with_client": true,
                    "address": {
                      "id": 7191,
                      "line1": "95 Eagle Ridge Road",
                      "line2": null,
                      "line3": null,
                      "zipcode": "03873",
                      "city": "Sandown",
                      "state": "NH",
                      "country": "United States of America"
                    },
                    "phone_numbers": [
                      {
                        "id": 1365,
                        "phone_type": "mobile",
                        "number": "(339) 234-1190"
                      }
                    ]
                  }
                }
              }

  /api/clients/{client_id}/client_enrollments:
    get:
      summary: Client Enrollment list
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "client_id"
        description: "Associated Client id"
        required: true
      - in: "query"
        name: "page"
        schema:
          type: "integer"
        description: "Page number to display"
        required: false
      responses:
        "200":
          description: "Client enrollments list"
          content:
            application/json:
              example: {
                "status": "success",
                "data": [
                  {
                    "id": 1,
                    "client_id": 16,
                    "source_of_payment": "insurance",
                    "funding_source_id": 31,
                    "funding_source": "aetna",
                    "primary": true,
                    "insurance_id": "VDYS4756",
                    "group": "group1",
                    "group_employer": "test",
                    "provider_phone": "87876-59954",
                    "relationship": "parent_or_guardian",
                    "subscriber_name": "Abcd",
                    "subscriber_phone": "76854-56443",
                    "subscriber_dob": "1997-12-12",
                    "services": [
                      {
                        "id": 1,
                        "service_id": 27,
                        "service": "caregiver training",
                        "start_date": "2022-02-17",
                        "end_date": "2022-02-21",
                        "units": null,
                        "minutes": null,
                        "service_number": null,
                        "service_providers": {
                          "ids": [
                            20
                          ],
                          "names": [
                            "May Dach"
                          ]
                        }
                      }
                    ]
                  },
                  {
                    "id": 2,
                    "client_id": 16,
                    "source_of_payment": "insurance",
                    "funding_source_id": 38,
                    "funding_source": "optimhealth behavioral solutions",
                    "primary": false,
                    "insurance_id": "SBAJ6473",
                    "group": "group2",
                    "group_employer": "test employer",
                    "provider_phone": "87876-59955",
                    "relationship": "spouse_or_partner",
                    "subscriber_name": "Abcdef",
                    "subscriber_phone": "76854-56443",
                    "subscriber_dob": "1996-12-12",
                    "services": []
                  }
                ],
                "total_records": 2,
                "limit": 30,
                "page": 1
              }
    post:
      summary: Client enrollment create
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "client_id"
        description: "Associated client id"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/ClientEnrollmentCreateUpdateParameters"
      responses:
        "200":
          description: "Created client enrollment"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 1,
                  "client_id": 16,
                  "source_of_payment": "insurance",
                  "funding_source_id": 31,
                  "funding_source": "aetna",
                  "primary": true,
                  "insurance_id": "VDYS4756",
                  "group": "group1",
                  "group_employer": "test",
                  "provider_phone": "87876-59954",
                  "relationship": "parent_or_guardian",
                  "subscriber_name": "Abcd",
                  "subscriber_phone": "76854-56443",
                  "subscriber_dob": "1997-12-12"
                },
                "errors": []
              }

  /api/clients/{client_id}/client_enrollments/{id}:
    get:
      summary: client enrollment detail
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "client_id"
        description: "Associated Client id"
        required: true
      - in: "path"
        name: "id"
        description: "Client enrollment id"
        required: true
      responses:
        "200":
          description: "Client enrollment detail"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 1,
                  "client_id": 16,
                  "source_of_payment": "insurance",
                  "funding_source_id": 31,
                  "funding_source": "aetna",
                  "primary": true,
                  "insurance_id": "VDYS4756",
                  "group": "group1",
                  "group_employer": "test",
                  "provider_phone": "87876-59954",
                  "relationship": "parent_or_guardian",
                  "subscriber_name": "Abcd",
                  "subscriber_phone": "76854-56443",
                  "subscriber_dob": "1997-12-12",
                  "service_providers": {
                    "ids": [
                      20
                    ],
                    "names": [
                      "May Dach"
                    ]
                  }
                }
              }
    put:
      summary: Client enrollment update
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "client_id"
        description: "Associated Client id"
        required: true
      - in: "path"
        name: "id"
        description: "Client enrollment id"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/ClientEnrollmentCreateUpdateParameters"
      responses:
        "200":
          description: "Updated client enrollment"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 2,
                  "client_id": 16,
                  "source_of_payment": "insurance",
                  "funding_source_id": 38,
                  "funding_source": "optimhealth behavioral solutions",
                  "primary": false,
                  "insurance_id": "SBAJ6473",
                  "group": "group2",
                  "group_employer": "test employer",
                  "provider_phone": "87876-59955",
                  "relationship": "spouse_or_partner",
                  "subscriber_name": "Abcdef",
                  "subscriber_phone": "76854-56443",
                  "subscriber_dob": "1996-12-12"
                },
                "errors": []
              }
    delete:
      summary: client enrollment delete
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "client_id"
        description: "Associated client id"
        required: true
      - in: "path"
        name: "id"
        description: "client_enrollment id"
        required: true
      responses:
        "200":
          description: "Deleted client enrollment detail"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 2,
                  "client_id": 16,
                  "source_of_payment": "insurance",
                  "funding_source_id": 38,
                  "funding_source": "optimhealth behavioral solutions",
                  "primary": false,
                  "insurance_id": "SBAJ6473",
                  "group": "group2",
                  "group_employer": "test employer",
                  "provider_phone": "87876-59955",
                  "relationship": "spouse_or_partner",
                  "subscriber_name": "Abcdef",
                  "subscriber_phone": "76854-56443",
                  "subscriber_dob": "1996-12-12"
                }
              }

  /api/clients/{client_id}/contacts:
    get:
      summary: Client Contacts list
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "client_id"
        description: "Associated Client id"
        required: true
      - in: "query"
        name: "page"
        schema:
          type: "integer"
        description: "Page number to display"
        required: false
      responses:
        "200":
          description: "Client contact list"
          content:
            application/json:
              example: {
                "status": "success",
                "data": [
                  {
                    "id": 1,
                    "first_name": "test",
                    "last_name": "contact1",
                    "email": "testct1@yopmail.com",
                    "client_id": 9,
                    "type": "parent_or_guardian",
                    "relation": "mother",
                    "legal_guardian": true,
                    "guarantor": false,
                    "parent_portal_access": false,
                    "resides_with_client": false,
                    "phone_numbers": [
                      {
                        "id": 2,
                        "phone_type": "mobile",
                        "number": "8877665544"
                      },
                      {
                        "id": 9,
                        "phone_type": "work",
                        "number": "9988771123"
                      }
                    ]
                  },
                  {
                    "id": 2,
                    "first_name": "test",
                    "last_name": "contact3",
                    "email": "testct3@yopmail.com",
                    "client_id": 9,
                    "type": "self",
                    "relation": "self",
                    "legal_guardian": true,
                    "guarantor": false,
                    "parent_portal_access": null,
                    "resides_with_client": false,
                    "address": {
                      "id": 34,
                      "line1": null,
                      "line2": null,
                      "line3": null,
                      "zipcode": null,
                      "city": "Delhi",
                      "state": null,
                      "country": null
                    },
                    "phone_numbers": [
                      {
                        "id": 15,
                        "phone_type": "work",
                        "number": "9988771123"
                      }
                    ]
                  }
                ],
                "total_records": 2,
                "limit": 30,
                "page": 1
              }
    post:
      summary: Client contact create
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "client_id"
        description: "Associated client id"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/definitions/ClientContactCreateParameters"
      responses:
        "200":
          description: "Created client contact"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 2,
                  "first_name": "test",
                  "last_name": "contact1",
                  "email": "testct1@yopmail.com",
                  "client_id": 10,
                  "type": "parent_or_guardian",
                  "relation": "uncle",
                  "legal_guardian": true,
                  "guarantor": false,
                  "parent_portal_access": false,
                  "resides_with_client": false,
                  "address": {
                    "id": 7,
                    "line1": null,
                    "line2": null,
                    "line3": null,
                    "zipcode": null,
                    "city": "Indore",
                    "state": null,
                    "country": null
                  },
                  "phone_numbers": [
                    {
                      "id": 9,
                      "phone_type": "work",
                      "number": "9988771122"
                    }
                  ]
                },
                "errors": []
              }

  /api/clients/{client_id}/contacts/{id}:
    get:
      summary: client contact detail
      parameters:
      - in: "header"
        name: "access-token"
        description: "Request headers"
        required: true
      - in: "header"
        name: "client"
        description: "Request headers"
        required: true
      - in: "header"
        name: "uid"
        description: "Request headers"
        required: true
      - in: "path"
        name: "client_id"
        description: "Associated Client id"
        required: true
      - in: "path"
        name: "id"
        description: "Client contact id"
        required: true
      responses:
        "200":
          description: "Client contact detail"
          content:
            application/json:
              example: {
                "status": "success",
                "data": {
                  "id": 1,
                  "first_name": "test",
                  "last_name": "contact1",
                  "email": "testct1@yopmail.com",
                  "client_id": 9,
                  "type": "parent_or_guardian",
                  "relation": "mother",
[...]
